{% extends 'common/base.html' %}
{% load static %}

{% block content %}

    <main class="container my-4">
        <!-- Registration Form -->
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="d-flex align-items-center border rounded p-2 text-details mb-4">
                    <h3 class="text-center bg-white text-dark opacity-75 m-0 flex-grow-1 rounded pb-1">
                        <i class="fas fa-user-plus me-2"></i> Register to Agro Marketplace
                    </h3>
                </div>
                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    <!-- Username Field -->
                    <div class="mb-3">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="alert alert-danger">
                                {{ form.username.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <!-- Email Field -->
                    <div class="mb-3">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="alert alert-danger">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <!-- Password Field -->
                    <div class="mb-3">
                        {{ form.password1.label_tag }}
                        <div class="input-group">
                            {{ form.password1}}
                            <div class="input-group-append">
                                <button type="button" class="btn btn-white toggle-password" data-target="#id_password1">
                                    <i class="fa fa-eye" id="eye-icon"></i>
                                </button>
                            </div>
                        </div>
                        {% if form.password1.errors %}
                            <div class="alert alert-danger">
                                {{ form.password1.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <!-- Repeat Password Field -->
                    <div class="mb-3">
                        {{ form.password2.label_tag }}
                        <div class="input-group">
                            {{ form.password2 }}
                            <div class="input-group-append">
                                <button type="button" class="btn btn-white toggle-password" data-target="#id_password2">
                                    <i class="fa fa-eye" id="eye-icon"></i>
                                </button>
                            </div>
                        </div>
                        {% if form.password2.errors %}
                            <div class="alert alert-danger">
                                {{ form.password2.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <!-- Submit Button -->
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>

                    <div class="text-center mt-3">
                        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
                    </div>
                </form>

                <!-- Optional link for users who already have an account -->
            </div>
        </div>
    </main>
{% endblock %}
