.photo-framework {
    width: 100%;
    height: auto;
    display: block;
}

.photo-container {
    position: relative;
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 2px dashed #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.photo-preview {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    display: block;
}

.upload-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 0;
    cursor: pointer;
    font-size: 10px; /* Smaller font size */
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


